Source: gqrcode
Section: utils
Priority: extra
Maintainer: Lorenzo Carbonell Cerezo <lorenzo.carbonell.cerezo@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://www.atareao.es

Package: gqrcode
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
	python3,
	python3-gi,
	python3-pil,
	python3-requests,
	gir1.2-gtk-3.0,
	gir1.2-gdkpixbuf-2.0,
	gir1.2-osmgpsmap-1.0,
	zbar-tools
Description: An application to create and decode QR Codes
 gqrcode is a very simple application that can create QR codes. This codes
 can have background, and can be animated QR codes. There are posibilities to
 create codes for simple text, geolocations, telephone number, email, url,
 WiFi Login, SMS, email messages and vCards.
